body {
    background: #0b1c2f;
}


#banner {
    background: url("../images/banner-images/dog.761361c3b375.jpg") no-repeat center top;
    background-size:cover;
}

.section-title {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px;
    font-weight: 700;
    color: white;
}
h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 400;
    color: cadetblue;
}
body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 20px;
    font-weight: normal;
    color: wheat;
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 20px;
    font-weight: 300;
    color: wheat;
}
.button, input[type="submit"] {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: lightcoral;
}
.button, input[type="submit"] {
    border-color: coral;
}


.testimonial.classic q, .testimonial.classic footer {
    color: aqua;
}
.client-overlay {
    background: rgba(128, 90, 90, 0.377);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

